.bg-purple {
	background-color: rgb(143, 32, 134);
	/* height: 1861px; */
	margin-top: -6px;
	margin-bottom: 0px;
}
.section-padding {
	padding: 80px 0px;
}
.usluge-title {
	font-size: 67px;
	font-family: "Ubuntu";
	color: rgb(255, 255, 255);
	font-weight: 600;
}
.hr-style {
	border: 2px solid rgb(245, 211, 103);
	width: 150px;
	float: left;
}

.p-title-usluge {
	font-size: 21px;
	font-family: "Ubuntu Light";
	color: rgb(255, 255, 255);
}

.grafik-usluge {
	padding: 40px 0px;
}

.nase-usluge-title {
	font-size: 43px;
	font-family: "Ubuntu";
	color: rgb(255, 255, 255);
	font-weight: 600;
	text-transform: uppercase;
}

.card-grafik-usluge {
	border: none;
	border-radius: 0px;
}

/* card - border RADIUS na karticama lg  */
.card-grafik-usluge-top-left-radius {
	border-top-left-radius: 30px;
}
.card-grafik-usluge-bottom-left-radius {
	border-bottom-left-radius: 30px;
}
.card-grafik-usluge-top-right-radius {
	border-top-right-radius: 30px;
}
.card-grafik-usluge-bottom-right-radius {
	border-bottom-right-radius: 30px;
}

/* card - border na karticama lg  */
.card-grafik-usluge-bottom-right-border {
	border-bottom: 1px solid #cbc1b9;
	border-right: 1px solid #cbc1b9;
}
.card-grafik-usluge-bottom-border {
	border-bottom: 1px solid #cbc1b9;
}

.card-grafik-usluge-right-border {
	border-right: 1px solid #cbc1b9;
}

/* Padding gore dole na carticama */
.card-grafik-usluge-padding {
	padding: 20px 0px 80px 0px;
}

.Shape_3_copy {
	background-color: rgb(153, 134, 117);
	opacity: 0.51;
	position: absolute;
	left: 1195px;
	top: 1939px;
	width: 1px;
	height: 601px;
	z-index: 245;
}

.card-title-grafik-usluge {
	font-size: 18px;
	font-family: "Ubuntu Medium";
	color: rgb(17, 55, 90);
	text-transform: uppercase;
}
