.img-slide-dimension {
	height: calc(100vh - 150px);
	min-width: 100%;
}
@media (min-width: 0px) and (max-width: 992px) {
	.img-slide-dimension {
		height: calc(100vh - 121px);
		min-width: 100%;
	}
}
