/* style for TopNav */
.topNav {
	background-color: rgb(143, 32, 134);
	height: 50px;
	border: none;
}
.textTopNavLeft {
	font-size: 14px;
	font-family: "Ubuntu";
	color: rgb(255, 255, 255);
}
.textTopNavRight {
	font-size: 14px;
	font-family: "Ubuntu";
	color: rgb(255, 255, 255);
}
.telefonTopNav {
	padding: 5px 35px;
	border: 1px solid #fff;
	border-radius: 100px;
}
.telefonTopNav:hover {
	text-decoration: none;
}

/* izmjena bootstrapa  */
@media (max-width: 576px) {
	.besplatniBroj {
		display: none;
	}
}
