.section-padding-mapa {
	padding: 180px 0px 80px 0px;
}

.bg-section-mapa {
	background-color: rgb(142, 31, 134);
	/* privremena visina  */
	/* height: 1000px; */
}
.input-mapa {
	height: 80px;
	border-radius: 200px;
	border-width: 4px;
	border-color: rgb(237, 191, 62);
	border-style: solid;
	background-color: rgb(255, 255, 255);
	transition: all .5s;
	color: rgb(142, 31, 134);
	font-size: 21px;
	font-family: "Ubuntu";
	color: rgb(143, 31, 134);
	font-weight: 600;
	text-transform: uppercase;
}

.input-mapa:focus {
	border-radius: 200px;
	border-width: 4px;
	border-color: rgb(216, 171, 46);
	border-style: solid;
	background-color: rgb(255, 255, 255);
	outline: none;
	box-shadow: none;
	color: rgb(142, 31, 134);
	font-size: 21px;
	font-family: "Ubuntu";
	color: rgb(143, 31, 134);
	font-weight: 600;
	text-transform: uppercase;
}
.input-mapa::placeholder {
	font-size: 21px;
	font-family: "Ubuntu";
	color: rgb(143, 31, 134);
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 40px;
	margin-left: 40px;
}

.button-search-mapa {
	border-radius: 100px;
	background-color: rgb(237, 191, 62);
	background: rgb(237, 191, 62);
	border: none;
	outline: none;
	box-shadow: none;
	-webkit-appearance: none;
	height: 72px;
	width: 73px;
	margin-left: -77px;
	margin-top: 4px;
	transition: all .5s;
}

.button-search-mapa:focus {
	border-radius: 100px;
	background-color: rgb(216, 171, 46) !important;
	background: rgb(216, 171, 46);
	border: none;
	outline: none;
	box-shadow: none !important;
}
.button-search-mapa:hover {
	border-radius: 100px;
	background-color: rgb(216, 171, 46);
	background: rgb(216, 171, 46);
	border: none;
	outline: none;
	box-shadow: none;
}
.svg-pretraga-poslovnica {
	height: 30px;
}

.mapa-bih {
	margin-top: -320px;
}
