@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(-5%);
	}
	100% {
		transform: translatey(0);
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.Navigation {
	background-color: rgb(255, 255, 255);
	min-height: 100px !important;
	box-shadow: 0px 0px 35px 0px rgba(175, 39, 164, 0.08);
	/* border-bottom: 1px solid #f5f5f5; */
}

/* dopuna bootstrapa uz NavigationLinks */
.navbar-light .navbar-nav .nav-link {
	color: #8f2086;
}
.NavigationLinks {
	font-size: 14px;
	font-family: "Ubuntu";
	font-weight: bold;
	text-transform: uppercase;
}
.AuraLogoLgSvg {
	margin-bottom: -45px;
}
.searchIcon {
	height: 18px;
}

@media (min-width: 993px) {
	.sm-logo-media {
		display: none;
	}
	.lg-logo-media {
		display: block;
		z-index: 2;
	}
}

@media (min-width: 992px) {
	.navbar-height {
		max-height: 100px;
	}
}
/* izmjena bootstrapa */
@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 18px;
		padding-left: 18px;
	}
}

@media (min-width: 992px) {
	.navbar-light .navbar-nav .active > .nav-link,
	.navbar-light .navbar-nav .nav-link.active,
	.navbar-light .navbar-nav .nav-link.show,
	.navbar-light .navbar-nav .show > .nav-link {
		border-radius: 100px;
		color: #fff;
		background: linear-gradient(-120deg, #c79819, #d3a118, #e8b323, #e8b323, #c79819, #f7c742);
		border-radius: 100px;
		background-size: 400% 400%;
		-webkit-animation: Gradient 10s ease infinite;
		-moz-animation: Gradient 10s ease infinite;
		animation: Gradient 10s ease infinite;
	}

	.navbar-light .navbar-nav .nav-link {
		transition: all .3s;
	}

	.navbar-light .navbar-nav .nav-link:hover {
		color: #8f2086;
		background: none;
		border-radius: 100px;
		background-size: 400% 400%;
		-webkit-animation: Gradient 10s ease infinite;
		-moz-animation: Gradient 10s ease infinite;
		animation: Gradient 10s ease infinite;
	}
	.navbar-light .navbar-nav .nav-link:focus {
		border-radius: 100px;
		color: #fff;
		background: linear-gradient(-120deg, #c79819, #d3a118, #e8b323, #e8b323, #c79819, #f7c742);
		border-radius: 100px;
		background-size: 400% 400%;
		-webkit-animation: Gradient 10s ease infinite;
		-moz-animation: Gradient 10s ease infinite;
		animation: Gradient 10s ease infinite;
	}
}

/*logo center and left */
@media (min-width: 0px) and (max-width: 992px) {
	.sm-logo-media {
		display: block;
	}
	/* za tel dropdown */
	.navbar .dropdown-menu {
		border: none;
		background-color: #fff !important;
	}

	.Navigation {
		background-color: rgb(255, 255, 255);
		min-height: 60px !important;
		box-shadow: 0px 0px 35px 0px rgba(175, 39, 164, 0.08);
		/* border-bottom: 1px solid #f5f5f5; */
	}

	.navbar-light .navbar-toggler {
		border: none !important;
		outline: none !important;
		outline-color: none !important;
		/* padding-right: 0;
		padding-left: 20px; */
		padding: 14px 0px;
	}

	.navbar-light .navbar-toggler:focus {
		border: none !important;
		outline: none !important;
		outline-color: none !important;
	}
	.navbar-light .navbar-toggler:hover {
		border: none !important;
		outline: none !important;
		outline-color: none !important;
	}

	/* uklonjena default ikonica od bootstrapa  */
	.navbar-toggler-icon {
		background-image: none !important;
	}

	.slideIn {
		transition: color 0.2s ease-in-out 0s;
		animation: 1s ease 0s 1 normal forwards running slideIn;
	}
	.NavigationLinks {
		font-size: 20px;
		text-transform: none;
	}
	.sm-logo-media {
		display: block;
	}

	.lg-logo-media {
		display: none;
	}

	.Navigation {
		background-color: rgb(255, 255, 255);
		min-height: 60px !important;
		box-shadow: 0px 0px 35px 0px rgba(175, 39, 164, 0.08);
	}
	.navbar-light .navbar-nav .nav-link {
		color: #8f2086;
		border-bottom: 2px dashed #6652640f;
		padding: 12px 0px;
		text-align: center;
		font-size: 26px;
	}

	.show > .nav-link,
	.active > .nav-link,
	.nav-link.show,
	.nav-link.active .bgSpanSm {
		color: #3d0338;
		background: linear-gradient(#c7991900 75%, #f7c742 0%);
		border-radius: 2px;
	}

	.navbar-light .navbar-nav .nav-link:hover {
		color: #8f2086;
	}

	.telefonTopNav {
		padding: 6px 18px;
		border: 1px solid #fff;
		border-radius: 100px;
	}
	.textTopNavLeft {
		font-size: 10px;
		font-family: "Ubuntu";
		color: rgb(255, 255, 255);
	}
	.textTopNavRight {
		font-size: 10px;
		font-family: "Ubuntu";
		color: rgb(255, 255, 255);
	}
}

@keyframes spinning {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(90deg);
	}
}

/* dodavanje triger meni ikonice (custom) */

.openMenu {
	background-image: url(./imgNavigation/open.svg) !important;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition: all .05s;
	height: 27px;
}
.closeMenu {
	background-image: url(./imgNavigation/close.svg) !important;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	animation: .5s spinning forwards;
	height: 27px;
}

/* adds some margin below the link sets  */
/* .navbar .dropdown-menu div[class*="col"] {
	margin-bottom: 1rem;
} */

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
	/* remove the padding from the navbar so the dropdown hover state is not broken */
	/* .navbar {
		padding-top: 0px;
		padding-bottom: 0px;
	} */

	/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
	/* .navbar .nav-item {
		padding: .5rem .5rem;
		margin: 0 .25rem;
	} */

	/* makes the dropdown full width  */
	.navbar .dropdown {
		position: static;
		z-index: 1;
	}

	.navbar .dropdown-menu {
		width: 100%;
		left: 0;
		right: 0;
		/*  height of nav-item  */
		top: 98px;
	}

	/* shows the dropdown menu on hover */

	/* .navbar .dropdown:hover .dropdown-menu,
	.navbar .dropdown .dropdown-menu:hover {
		display: block !important;
	} */

	.navbar .dropdown-menu {
		border: none;
		background-color: #fff !important;
	}

	.navbar .dropdown-menu {
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
	}

	.col-dropdown-border-right {
		/* height: 500px;
		border-right: 1px dashed #e9e8e8; */

		background-image: linear-gradient(#e9e8e8 40%, rgba(255, 255, 255, 0) 0%);
		background-position: right;
		background-size: 1px 10px;
		background-repeat: repeat-y;
	}

	.col-dropdown-title {
		font-size: 24px;
		font-family: "Ubuntu";
		color: rgb(143, 32, 134);
		padding: 15px 0px 30px 0px;
		font-weight: 600;
		text-transform: none;
	}

	.sub-title-dropdown {
		font-size: 15px;
		font-family: "Ubuntu Medium";
		color: rgb(63, 61, 86);
		text-transform: uppercase;
	}
	.p-dropdown {
		font-size: 13px;
		text-transform: none;
		font-family: "Ubuntu Medium";
		color: rgb(135, 135, 135);
	}

	.li-dorpdown {
		padding-bottom: 20px;
		cursor: pointer;
	}
	.row-dropdown {
		padding: 40px 0px !important;
	}
}

/* prosirenje containera */

@media (min-width: 1441px) {
	.container {
		max-width: 1400px;
	}
	.margin-navItems-lg {
		margin-right: 20px;
	}
}
